body {
    background: url('single_pages/static/single_pages/images/dog2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /*다양화 점속 환경에서 같게 보이도록 설정*/
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
    margin-bottom: 15px;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
}